<div>
  <form  #loginForm="ngForm" class="text-center border border-light p-5 col-6 mx-auto mt-4" (ngSubmit)="login()">

    <p class="h4 mb-4">Sign in</p>

    <!-- Username -->
    <input type="email" class="form-control mb-4" name="username" placeholder="Username" required [(ngModel)]="model.username">

    <!-- Password -->
    <input type="password" class="form-control mb-4" name="password" placeholder="Password" required [(ngModel)]="model.password">

    <!-- Sign in button -->
    <button [disabled]="!loginForm.valid" mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>

  </form>
</div>