<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >WSHL</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/home']" >Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/players']">Players</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/teams']" >Teams</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/games']">Games</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li *ngIf="loggedIn()" class="nav-item">
        <a class="nav-link waves-light" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
      </li>
      <li *ngIf="loggedIn()" class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link waves-light" [routerLink]="['/admin']">Admin</a>
      </li>
      <li *ngIf="!loggedIn()" class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="['/login']" >Officials</a>
      </li>
    </ul>

   
  </links>

</mdb-navbar>
<!--/.Navbar-->