<form #editForm="ngForm" (ngSubmit)="validateInput()" class="text-center border border-light p-5" style="height:90vh;">

  <p class="h2 mb-4">Edit Player</p>

  <div class="row my-3">
    <div class="col-3">
      <h4>First Name</h4>
    </div>
    <div class="col-3">
      <input name="firstName" rows="1" class="form-control" [(ngModel)]="player.firstName">
    </div>
    <div class="col-3">
      <h4>Last Name</h4>
    </div>
    <div class="col-3">
      <input name="lastName" rows="1" class="form-control" [(ngModel)]="player.lastName">
    </div>
  </div>

  <div class="row my-3">
    <div class="col-3">
      <h4>Number</h4>
    </div>
    <div class="col-3">
      <input name="number" type="number" rows="1" class="form-control" [(ngModel)]="player.number">
    </div>
    <div class="col-3">
      <h4>Team ID</h4>
    </div>
    <div class="col-3">
      <input name="teamId" type="number" min="1" max="6" rows="1" class="form-control" [(ngModel)]="player.teamId">
    </div>
  </div>

  <div class="row my-3">
    <div class="col-3">
      <h4>Position</h4>
    </div>
    <div class="col-3">
      <input name="position" rows="1" class="form-control" [(ngModel)]="player.position">
    </div>
    <div class="col-3">
      <h4>Games Played</h4>
    </div>
    <div class="col-3">
      <input name="gamesPlayed" type="number" rows="1" class="form-control" [(ngModel)]="player.gamesPlayed">
    </div>
  </div>

  <div class="row my-3">
    <div class="col-3">
      <h4>Points</h4>
    </div>
    <div class="col-3">
      <input name="points" type="number" rows="1" class="form-control" [(ngModel)]="player.points">
    </div>
    <div class="col-3">
      <h4>Goals</h4>
    </div>
    <div class="col-3">
      <input name="goals" type="number" rows="1" class="form-control" [(ngModel)]="player.goals">
    </div>
  </div>

  <div class="row my-3">
    <div class="col-3">
      <h4>Assists</h4>
    </div>
    <div class="col-3">
      <input name="assists" type="number" rows="1" class="form-control" [(ngModel)]="player.assists">
    </div>
    <div class="col-3">
      <h4>PIMs</h4>
    </div>
    <div class="col-3">
      <input name="piMs" type="number" rows="1" class="form-control" [(ngModel)]="player.piMs">
    </div>
  </div>

  <div class="row my-3">
    <div class="col-3">
      <h4>Plus Minus</h4>
    </div>
    <div class="col-3">
      <input name="plusMinus" type="number" rows="1" class="form-control" [(ngModel)]="player.plusMinus">
    </div>
    <div class="col-3">
      <h4>Shots on Goal</h4>
    </div>
    <div class="col-3">
      <input name="sog" type="number" rows="1" class="form-control" [(ngModel)]="player.sog">
    </div>
  </div>

  <button [disabled]="!editForm.dirty" mdbBtn color="info" block="true" class="my-4" type="submit">Update</button>

</form>

