<form #editForm="ngForm" (ngSubmit)="validateInput()" class="text-center border border-light p-5">

  <p class="h2 mb-4">Edit goalie</p>

  <div class="row my-3">
    <div class="col-lg-3 col-sm-12">
      <h4>First Name</h4>
    </div>
    <div class="col-lg-3 col-sm-12">
      <input name="firstName" rows="1" class="form-control" [(ngModel)]="goalie.firstName">
    </div>
    <div class="col-lg-3 col-sm-12">
      <h4>Last Name</h4>
    </div>
    <div class="col-lg-3 col-sm-12">
      <input name="lastName" rows="1" class="form-control" [(ngModel)]="goalie.lastName">
    </div>
  </div>

  <div class="row my-3">
    <div class="col-lg-3 col-sm-12">
      <h4>Number</h4>
    </div>
    <div class="col-lg-3 col-sm-12">
      <input name="number" type="number" rows="1" class="form-control" [(ngModel)]="goalie.number">
    </div>
    <div class="col-lg-3 col-sm-12">
      <h4>Team ID</h4>
    </div>
    <div class="col-lg-3 col-sm-12 col-sm-12">
      <input name="teamId" type="number" rows="1" class="form-control" [(ngModel)]="goalie.teamId">
    </div>
  </div>

  <div class="row my-3">
    <div class="col-lg-3 col-sm-12">
      <h4>Save Percentage</h4>
    </div>
    <div class="col-lg-3 col-sm-12">
      <input name="savePercentage" type="number" rows="1" class="form-control" [(ngModel)]="goalie.savePercentage">
    </div>
    <div class="col-lg-3 col-sm-12">
      <h4>Games Played</h4>
    </div>
    <div class="col-lg-3 col-sm-12">
      <input name="gamesPlayed" type="number" rows="1" class="form-control" [(ngModel)]="goalie.gamesPlayed">
    </div>
  </div>

  <div class="row my-3">
    <div class="col-lg-3 col-sm-12">
      <h4>Games Won</h4>
    </div>
    <div class="col-lg-3 col-sm-12">
      <input name="gamesWon" type="number" rows="1" class="form-control" [(ngModel)]="goalie.gamesWon">
    </div>
    <div class="col-lg-3 col-sm-12">
      <h4>Goals Against Average</h4>
    </div>
    <div class="col-lg-3 col-sm-12">
      <input name="gaa" type="number" rows="1" class="form-control" [(ngModel)]="goalie.gaa">
    </div>
  </div>

  <button [disabled]="!editForm.dirty" mdbBtn color="info" block="true" class="my-4" type="submit">Update</button>

</form>
