<footer class="page-footer font-small mdb-color darken-1 pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-8 mt-md-0 mt-3">
        <h5 class="text-uppercase font-weight-bold">About</h5>
        <p>WSHL is a hockey league in the west of Scotland comprised of 6 teams. These teams are Glasgow, Paisley, Ayr, Kilmarnock, Dumfries, and Stirling.</p>
      </div>
      
      <div class="col-md-4 mb-md-0 mb-3 text-right">
        <a href="https://facebook.com" class="mx-3">
          <mdb-icon fab icon="facebook-f" size="3x"></mdb-icon>
        </a>
        <a href="https://twitter.com" class="mx-3">
          <mdb-icon fab icon="twitter" size="3x"></mdb-icon>
        </a>
        <a href="https://instagram.com" class="mx-3">
          <mdb-icon fab icon="instagram" size="3x"></mdb-icon>
        </a>
      </div>
    </div>
  </div>
  <hr class="clearfix w-100 d-md-none pb-3" />
  <div class="footer-copyright text-center py-3">
    © 2020 Liam Reilly - HND Software Development - Graded Unit 2
  </div>
</footer>
